.header{
  display: grid;
  grid-template-columns: 25% auto 25%;
  align-items: center;
  padding: 0 15vw;
  position: sticky;
  border-bottom: 1px solid #c3c3c3;
  height: 60px;
}
.login{
  display: flex;
  justify-content: flex-end;
}
.searchBar{
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}
.logo{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}