.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid #c3c3c3;
  height: 60px;
}
.searchBar{
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}
.logo{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .searchBar{
    width: 15ch;
  }
}