.button{
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-weight: 700;
  width: fit-content;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
}
.button:hover{
  box-shadow:
  0.6px 0.6px 0.8px rgba(0, 0, 0, 0.4),
  4px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translate(-1px, -1px);
}
.button:disabled{
  opacity: 0.3;
}

