.black,
.white{
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-weight: 700;
  width: fit-content;
}

.black{
  background-color: #000;
  color: #fff;
}
.white{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;

}