.card {
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  padding: 20px 20px 5px 20px;
  display: grid;
  grid-template-rows: 20% auto 20%;
  align-items: center;
  width: 100%;
  height: fit-content;
  grid-column: 1;
}
.footer {
  display: flex;
  gap: 20px;
}
.footer > span {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.h3{
  margin: 10px 0 0 0;
}