.form {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input{
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: vertical;
  font-size: 16px;
  max-height: 150px;
  min-height: 80px;
}
.input:focus{
  outline: none;
  border: 1px solid #000;
}