.layoutIndex,
.layoutPost {
  width: 70%;
  max-width: 1248px;
  display: grid;
  grid-template-rows: 80px 1fr;
  column-gap: 50px;
  margin: 20px auto 0px auto;
}
.layoutIndex{
  grid-template-columns: 70% 1fr;
  row-gap: 30px;
  margin-bottom: 50px;
}
.layoutPost{
  grid-template-columns: 60% 1fr;
}
@media (max-width: 1024px) {
  .layoutIndex,
  .layoutPost{
    grid-template-columns: none;
    grid-template-rows: none;
    column-gap: 0;
    width: 80%;
  }
}